---
import BaseLayout from '../layouts/BaseLayout.astro';
import EmpresasAlojamiento from '../components/EmpresasAlojamiento.astro';
import Partners from '../components/Partners.astro'; // <--- Nueva línea
---

<BaseLayout title="Nuestras Habitaciones">
        <section class="py-6 px-6 max-w-7xl mx-auto">
        <div class="mb-12 border-b pb-6 border-slate-300">
            <h2 class="text-3xl font-bold text-blue-ocean tracking-tight mb-4">
                Alojamiento para empresas
            </h2>
            <p class="text-slate-600 text-lg">
                Explorá nuestra exclusiva galería y seleccioná la habitación ideal para tu próxima estadía a metros del mar.
            </p>
        </div>

        <EmpresasAlojamiento />
        <Partners />

      
    </section>
</BaseLayout>