---
import BaseLayout from '../layouts/BaseLayout.astro';
import RoomCard from '../components/RoomCard.astro';
import RoomModal from '../components/RoomModal.astro';
import datosHabitaciones from '../data/habitaciones.json';

// Cargamos los archivos de la carpeta para saber qué nombres existen
const imagenesCargadas = import.meta.glob('../assets/images/habitaciones/*.{jpeg,jpg,JPG,png,webp}', { eager: true });

const getFotos = (id) => {
  // Obtenemos solo los nombres de archivos que coinciden con el ID
  return Object.keys(imagenesCargadas)
    .map((path) => path.split('/').pop()) // Extrae solo "h2-1.jpg"
    .filter((fileName) => fileName.toLowerCase().includes(id.toLowerCase()));
};

// Mapeamos los datos del JSON para agregarles la lista de nombres de fotos
const habitaciones = datosHabitaciones.map(hab => ({
  ...hab,
  fotos: getFotos(hab.id)
}));
---

<BaseLayout title="Habitaciones">
    <section class="py-6 px-6 max-w-7xl mx-auto">
        <div class="mb-12 border-b pb-6 border-slate-300">
            <h2 class="text-3xl font-bold text-blue-ocean tracking-tight mb-4">
                Nuestras habitaciones
            </h2>
            <p class="text-slate-600 text-lg">
                Explorá nuestra exclusiva galería y seleccioná la habitación ideal para tu próxima estadía a metros del mar.
            </p>
        </div>

        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-8">
            {habitaciones.map((room) => <RoomCard {...room} />)}
        </div>
    </section>
    <RoomModal />
</BaseLayout>