---

import { Image } from 'astro:assets';

//src/compoments/CardHabHome.astro

const { imagen, titulo, descripcion } = Astro.props;

---

    <div class="group">
        <div class="aspect-[4/3] rounded-xl overflow-hidden mb-4">
            <Image src={ imagen } 
                class="w-full h-full object-cover transition-transform duration-500 group-hover:scale-105"
                alt={titulo}
            />
        </div>
        <h3 class="text-xl font-bold mb-2 text-gray-dark">{titulo}</h3>
        <p class="text-gray-600 leading-relaxed">{descripcion}</p>
    </div>