---
import { Image } from 'astro:assets';
import { Icon } from 'astro-icon/components'
import logoBlanco from '../assets/images/logoblanco.png';
---

<footer class="bg-slate-800 dark:bg-background-dark border-t-[6px] border-sky-400/40 pt-10 pb-16">
    <div class="max-w-7xl mx-auto px-4 flex flex-col md:flex-row justify-between items-start gap-10">
        
        <div class="hidden md:block max-w-sm">
            <div class="flex items-center gap-3 mb-3">
 <Image 
    src={logoBlanco} 
    alt="logo hotel soleares"
    width={80}   /* Tamaño visual en la pantalla */
    height={90}  /* Mantiene la proporción 4:3 */
    widths={[200, 380]} /* Generamos el doble y el triple para que se vea nítido */
    sizes="180px" 
    loading="eagerly"
    class="w-auto h-auto" /* Usamos auto para que no se estire si el contenedor es más grande */
/>
            </div>
            <p class="hidden md:block text-slate-500 dark:text-slate-400 text-sm leading-relaxed pb-4">
                Experiencias inolvidables frente al mar. Lujo, confort y naturaleza en un solo lugar.
            </p>
               <p class="mt-0 hidden md:block text-sky-400 text-sm">© 2026 Hotel Soleares. Todos los derechos reservados.</p>
               <span class="hidden md:block pt-2 text-slate-200 text-sm">Power by: <a href="">LMV Design</a></span>
        </div>

        
        <div class="grid grid-cols-1 sm:grid-cols-3 gap-10 md:gap-16">
    
    <div class="hidden md:block">
        <h4 class="font-bold text-slate-300 mb-5 text-sm uppercase tracking-wider">Cómo llegar</h4>
        <ul class="space-y-3 text-sm text-slate-400">
            <li><a class="hover:text-sky-400 transition-colors" href="/llegar-tren">Desde la terminal de trenes</a></li>
            <li><a class="hover:text-sky-400 transition-colors" href="/llegar-micros">Desde la terminal de micros</a></li>
            <li><a class="hover:text-sky-400 transition-colors" href="/llegar-aeropuerto">Desde el Aeropuerto</a></li>
            <li><a class="hover:text-sky-400 transition-colors" href="/transporte">Medios de transporte</a></li>
        </ul>
    </div>
    
    <div class="hidden md:block">
        <h4 class="font-bold text-slate-300 mb-5 text-sm uppercase tracking-wider">Eventos 2026</h4>
        <ul class="space-y-3 text-sm text-slate-400">
            <li><a class="hover:text-sky-400 transition-colors" href="/eventos/recitales-2026">Recitales 2026</a></li>
            <li><a class="hover:text-sky-400 transition-colors" href="/eventos/congresos">Congresos y eventos</a></li>
            <li><a class="hover:text-sky-400 transition-colors" href="/eventos/festivales">Festivales</a></li>
            <li><a class="hover:text-sky-400 transition-colors" href="/eventos/deportes">Deportes / Maratones</a></li>
        </ul>
    </div>

    <div>
        <h4 class="font-bold text-slate-300 mb-5 text-sm uppercase tracking-wider">Contacto</h4>
        <div class="space-y-3 text-sm text-slate-400">
            <p class="flex items-center gap-2">
             <Icon name="material-symbols:location-on"/>
             Gral.Pacheco 2168, Mar del Plata
            </p>
            <p class="flex items-center gap-2">
             <Icon name="material-symbols:mail"/> 
                <a href="mailto:reservas@hotelsoleares.com" class="hover:text-sky-400 transition-colors">
               reservas@hotelsoleares.com
                </a>
            </p>
              <p class="flex items-center gap-2">
             <Icon name="material-symbols:phone-enabled"/> 
                <a href="mailto:reservas@hotelsoleares.com" class="hover:text-sky-400 transition-colors">
               +549 223 4840818
                </a>
            </p>
             <p class="flex items-center gap-2">
             <Icon name="material-symbols:chat"/> 
                <a href="mailto:reservas@hotelsoleares.com" class="hover:text-sky-400 transition-colors">
               +549 223 5410625
                </a>
            </p>
        </div>
    </div>
</div>


    </div>
<a 
  href="https://api.whatsapp.com/send/?phone=5492233425621&text&type=phone_number&app_absent=0" 
  target="_blank" 
  rel="noopener noreferrer"
  class="fixed bottom-3 right-6 md:right-50 z-50 transition-transform hover:scale-110 active:scale-95 w-20 h-20 md:w-20 md:h-17 flex items-center justify-center" 
  aria-label="Contactar por WhatsApp"
>
  <img 
    src="/ws.png" 
    alt="WhatsApp del hotel" 
    width="60" 
    height="60"
    class="w-14 h-14 md:w-16 md:h-16" 
  />
</a>
   
</footer>