---
import { Image } from 'astro:assets';
import CardHabHome from '../components/CardHabHome.astro';
import HabitacionesDataHome from '../data/habitacionesDataHome.json'

import habDoble from '../assets/images/doble.png';
import habTriple from '../assets/images/triple.png'; 
import habCuadruple from '../assets/images/cuadruple.jpg';


const mapaImagenes = {
    doble : habDoble,
    triple : habTriple,
    cuadruple: habCuadruple
};

---

<!-- Section 1: Nuestras Habitaciones -->

<section class="py-10 px-6 bg-slate-100">
    <div class="max-w-7xl mx-auto">
        <h2 class="text-3xl font-bold mb-12 text-center text-blue-ocean">Nuestras Habitaciones</h2>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
        {HabitacionesDataHome.map((hab)=> (
            <CardHabHome 
                imagen={mapaImagenes[hab.imagen]} 
                titulo={hab.titulo} 
                descripcion={hab.descripcion}
            />
        ))} 
        </div>
    </div>
</section>

<!-- fin seccion -->
