---

import { Image } from 'astro:assets';
// importar imagen hero 
import fondobanner from '../assets/images/fondobanner.jpeg';
---


<section class="relative h-[600px] flex items-center justify-center overflow-hidden">
    <div class="absolute inset-0 z-0">
        <div class="absolute inset-0 bg-black/20 z-10">
        </div>
        <Image
        src={fondobanner}
        alt="costa de mar del plata"
        class="w-full h-full object-cover"
        loading="eager"
        />
    </div>
    <div class="relative z-20 text-center px-4 max-w-4xl">
        <h1 class="text-white text-5xl md:text-6xl font-extrabold leading-tight mb-6 
        drop-shadow-[0_5px_5px_rgba(0,0,0,0.5)]">
            Estancia Confortable a metros del Mar
        </h1>
        <p class="text-white text-lg md:text-xl font-medium max-w-2xl mx-auto 
        drop-shadow-[0_3px_3px_rgba(0,0,0,0.4)]">
            Habitaciones limpias, modernas y con la mejor ubicación para disfrutar de la playa.
        </p>
    </div>
</section>