---
import { Image } from 'astro:assets';
import fondobanner from '../assets/images/fondobanner.jpeg';
import { Icon } from 'astro-icon/components';
---

<section class="relative h-[420px] md:h-[450px] flex items-center justify-center overflow-hidden bg-gray-900">
    <div class="absolute inset-0 z-0">
        <div class="absolute inset-0 bg-black/45 z-10"></div>
        <Image
            src={fondobanner}
            alt="Costa de Mar del Plata"
            class="w-full h-full object-cover"
            loading="eager"
            fetchpriority="high"
        />
    </div>

    <div class="relative z-20 text-center px-6 max-w-4xl">
 <h1 class="text-slate-200/90 text-3xl md:text-5xl font-extrabold tracking-tight mb-3 drop-shadow-[0_0_15px_rgba(0,0,0,1)] leading-tight">
   Alojamiento con ambiente familiar a  metros de la costa.
        
        <p class="text-slate-100 text-sm md:text-xl font-medium max-w-xl mx-auto mt-8 mb-10 drop-shadow-md opacity-90 tracking-[0.1em]">
            habitaciones amplias y confortables.
        </p>

        <div class="flex justify-center">
    <a 
    href="https://api.whatsapp.com/send/?phone=5492233425621&text&type=phone_number&app_absent=0" 
    target="_blank" 
    rel="noopener noreferrer"
    class="group relative bg-emerald-600/90 text-white font-bold py-3 px-8 rounded-full 
           transition-all duration-300 ease-in-out
           md:hover:bg-emerald-700 border border-3 border-emerald-100/50
           md:hover:-translate-y-1 hover:border-emerald-100/30 active:scale-95 
           flex items-center gap-2 text-[14px] tracking-[0.1em]"
>
    <span class="relative flex h-3 w-3">
        <span class="animate-ping absolute inline-flex h-full w-full rounded-full bg-emerald-100 opacity-75"></span>
        <span class="relative inline-flex rounded-full h-3 w-3 bg-emerald-100"></span>
    </span>

    RESERVAR AHORA

    <Icon 
        name="material-symbols:calendar-check" 
        class="h-5 w-5 transition-transform duration-300 group-hover:translate-x-1" 
    />
</a>
</div>
    </div>
</section>