
<section class="py-10 px-6 bg-white">
<div class="max-w-7xl mx-auto">
<div class="text-center mb-12">
<h2 class="text-3xl font-bold mb-4 text-blue-ocean">Puntos turísticos</h2>
<p class="text-gray-600">Explora los rincones más emblemáticos cerca de nuestro hotel.</p>
</div>
<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8">
<!-- Attraction 1 -->
<div class="group">
<div class="aspect-[4/3] rounded-xl overflow-hidden mb-4 shadow-sm">
<img alt="Catedral Histórica" class="w-full h-full object-cover transition-transform duration-500 group-hover:scale-105" src="/images/sierralaguna.jpg"/>
</div>
<p class="text-sm font-medium text-gray-800 text-center">Sierra y Laguna de los Padres, un lugar excelente en cercanias a la ciudad.</p>
</div>
<!-- Attraction 2 -->
<div class="group">
<div class="aspect-[4/3] rounded-xl overflow-hidden mb-4 shadow-sm">
<img alt="Museo de Arte" class="w-full h-full object-cover transition-transform duration-500 group-hover:scale-105" src="/images/torreagua.jpg"/>
</div>
<p class="text-sm font-medium text-gray-800 text-center">Visite edificios historicos y emblematicos de nuestra ciudad.</p>
</div>
<!-- Attraction 3 -->
<div class="group">
<div class="aspect-[4/3] rounded-xl overflow-hidden mb-4 shadow-sm">
<img alt="Parque Central" class="w-full h-full object-cover transition-transform duration-500 group-hover:scale-105" src="/images/puertocomercial.webp"/>
</div>
<p class="text-sm font-medium text-gray-800 text-center">Puerto comercial del puerto, ideal para probar productos de nuestro mar.</p>
</div>
<!-- Attraction 4 -->
<div class="group">
<div class="aspect-[4/3] rounded-xl overflow-hidden mb-4 shadow-sm">
<img alt="Mercado Tradicional" class="w-full h-full object-cover transition-transform duration-500 group-hover:scale-105" src="/images/benduarena.jpg"/>
</div>
<p class="text-sm font-medium text-gray-800 text-center">Bendu Arena, Abbey Road, Brew House entre otros, ofrecen recitales durante todo el año.</p>
</div>
</div>
</div>
</section>