---
import { Icon } from 'astro-icon/components';
---


<section class="px-6 bg-white py-10">
<div class="max-w-7xl mx-auto"> 
<h2 class="text-3xl font-bold text-center md:text-left mb-6 text-blue-ocean">Nuestros Servicios</h2>
<div class="grid grid-cols-1 lg:grid-cols-2 gap-12 items-stretch">
<!-- Left Column: Services Grid -->

<div class="grid grid-cols-2 sm:grid-cols-3 gap-4">

<div class="flex flex-col items-center p-4 rounded-xl border border-gray-dark/20 shadow-sm bg-gray">
<div class="w-10 h-10 rounded-full bg-primary/10 flex items-center justify-center mb-3 ">
<Icon name="material-symbols:wifi" class="text-gray-dark/70 text-xl w-6 h-6" />
</div>
<h3 class="text-m font-bold  text-gray-dark/90">Wi-Fi Gratuito</h3>
<p class="text-gray-600 text-[12px]">En todo el hotel.</p>
</div>
<div class="flex flex-col items-center p-4 rounded-xl border border-gray-dark/20 shadow-sm bg-gray">
<div class="w-10 h-10 rounded-full bg-primary/10 flex items-center justify-center mb-3">
<Icon name="material-symbols:coffee" class="text-gray-dark/70 text-xl w-6 h-6" />
</div>
<h3 class="text-m font-bold text-gray-dark/90">Desayuno incluido</h3>
<p class="text-gray-600 text-[12px]">Variedad de productos.</p>
</div>
<div class="flex flex-col items-center p-4 rounded-xl border border-gray-dark/20 shadow-sm bg-gray">
<div class="w-10 h-10 rounded-full bg-primary/10 flex items-center justify-center mb-3">
<Icon name="material-symbols:cleaning-services-outline" class="text-gray-dark/70 text-xl w-6 h-6" />
</div>
<h3 class="text-m font-bold text-gray-dark/90">Limpieza Diaria</h3>
<p class="text-gray-600 text-[12px]">Protocolos rigurosos</p>
</div>
<div class="flex flex-col items-center p-4 rounded-xl border border-gray-dark/20 shadow-sm bg-gray">
<div class="w-10 h-10 rounded-full bg-primary/10 flex items-center justify-center mb-3">
<Icon name="material-symbols:concierge-outline" class="text-gray-dark/70 text-xl w-6 h-6" />
</div>
<h3 class="text-m font-bold text-gray-dark/90">Recepción 24h</h3>
<p class="text-gray-600 text-[12px]">Atención continua</p>
</div>
<div class="flex flex-col items-center p-4 rounded-xl border border-gray-dark/20 shadow-sm bg-gray">
<div class="w-10 h-10 rounded-full bg-primary/10 flex items-center justify-center mb-3">
<Icon name="material-symbols:paid-outline" class="text-gray-dark/70 text-xl w-6 h-6" />
</div>
<h3 class="text-m font-bold text-gray-dark/90">Medios de pago</h3>
<p class="text-gray-600 text-[12px]">Comodidad y beneficios.</p>
</div>
<div class="flex flex-col items-center p-4 rounded-xl border border-gray-dark/20 shadow-sm bg-gray">
<div class="w-10 h-10 rounded-full bg-primary/10 flex items-center justify-center mb-3">
<Icon name="material-symbols:tv-outline" class="text-gray-dark/70 w-6 h-6" />
</div>
<h3 class="text-m font-bold text-gray-dark/90">Tv por cable</h3>
<p class="text-gray-600 text-[12px]">Equipamiento moderno</p>
</div>
</div>
<!-- Right Column: Breakfast Image with Overlay -->
<div class="relative rounded-2xl overflow-hidden shadow-lg group h-64">
<img alt="Desayuno Continental" class="w-full h-full object-cover" src="https://lh3.googleusercontent.com/aida-public/AB6AXuCI_GlQ66CJZbCK5ybzg3HmxkmD142aVywjIggXz3YULp9Mjyfh1RxzAtoHPnETZw-3Hu-zDZaRBJQoiy7dCXa1uV0MHqYW53kni6Aup7hMQug_AZxiVF10qYvZzTv3JJ9MLZLW9fdHY0DTnyO8aRLMA0W-zcsp-Ov2hZl9TqkjMtWYo0GUd5EFTMZlyqpz3bKM6QkKuWnJSPoSjk81KwnziWbdhg7itvgkoWH0GlzdfeDqJEvsFJIJZae4TX7k3EY_dD0PYIWCg1w"/>
<div class="absolute inset-0 bg-black/40 flex items-center justify-center p-8 text-center">
<h4 class="text-white text-2xl font-bold leading-tight">Desayuno incluido con amplia variedad de productos</h4>
</div>
</div>
</div>
</div>
</section>